<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Register</title>

    <!-- Bootstrap core CSS-->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

  </head>

  <body class="bg-dark">
      {% load widget_tweaks %}

<div class="container">
    <center> <a> <img src="/static/images/logo.png" style="margin-top: 50px"> </a></center>
</div>
    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
          <form>
              {% csrf_token %}
              {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="form-group">
              <div class="form-row">
                <div class="col-12">
                  <div class="form-label-group">
                      {% render_field field class="form-control" %}
                      <label > {{ field.label_tag }}</label>
                      {% if field.errors %}
                      <small class="form-text text-muted">{{ field.errors }}</small>
                    {% endif %}
                  </div>
                </div>
               
              </div>
            </div>
            {% endfor %}

          
            <button type="submit" class="btn btn-primary mr-2">Register</button>

          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="{% url 'login' %}">Login Page</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>