{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<form method="post" novalidate>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}
  <div class="row">
    <div class="col-md-6 m-auto">
      <h2>Make an operation</h2>
        {% for field in form.visible_fields %}

        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
      
            {% if field.errors %}
              <small class="form-text text-muted">{{ field.errors }}</small>
            {% endif %}

          </div>
        {% endfor %}
        <div class="col-12 p-0 text-right">
            <button type="submit" class="btn btn-primary mr-2">Go</button>

      </div>
    </div>
  </div>
   
  </form>
{% endblock %}
